.rangeContainer {
  height: 10vh;
  width: 40vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 8vh 0 8vh 0;
  z-index: 1;
  animation: bottomanim 0.9s ease-in-out;
}

.titleRange {
  color: white;
  font-family: "Open Sans";
  font-size: 4vh;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

@keyframes bottomanim {
  from {
    transform: translateY(50vh);
  }
  to {
    transform: translateY(0vh);
  }
}

@media only screen and (max-width: 600px) {
  .titleRange {
    font-size: 3vh;
  }
}
